body {
  margin: 0px auto;
  max-width: none;
}

nav li a {
  font-size: 1.5rem;
  margin: 0 25px 0 25px;
}

.welcome-wrap {
  max-width: 900px;
}

.testimonials-wrap {
  max-width: 900px;
}

.testimonials {
  grid-gap: 70px 90px;
}

.parallax { 
  /* The image used */
  background-image: url("images/hotel-large.jpg");

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.5;
}

.img-wrap {
  display: none;
}